@media (max-width: 390px) {
    .bottomNav {
        width: 100vw;
        position: absolute;
        margin: auto;
        bottom: 0;
        text-align: center;
        background-color: black;
        color: whitesmoke;
        text-decoration: none;
    }

    ul {
        display: flex;
        padding: 1.3rem 0;
        list-style: none;
    }
    .li_item {
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        color: whitesmoke;
        margin: auto;
        text-decoration: none;
    }
    .link{
      color: whitesmoke;
      text-decoration: none;
      font-family: ;
    }

}
