@media (max-width: 390px) {
    .container {
        justify-content: start !important;
        padding-top: 10%;
        position: relative;
    }
    .container h1 {
        font-size: 2.7rem;
        text-align: center;
        margin-bottom: 10%;
        align-self: flex-start;
        margin-left: 10%;
    }
    .card {
        background-color: #11121d;
        box-shadow: 13px 10px 15px -3px rgba(0, 0, 0, 0.2);
        color: white;
        margin: 5px;
        padding: 10%;
        min-height: 30vw;
        width: 90%;
        border-radius: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }
    .card .author {
        font-size: 0.8rem;
        position: absolute;
        top: 10%;
        left: 5%;
    }
    .card .title {
        font-size: 1rem;
        position: absolute;
        left: 5%;
    }
    .card .description {
        font-size: 0.8rem;
        position: absolute;
        margin-top: 20%;
        left: 5%;
    }

    .card span {
        font-size: 0.8rem;
        position: absolute;
        margin-top: 20%;
        right: 5%;
    }
    .card .reliability {
        top: 10%;
        margin-top: 0;
    }
    .btn-new {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        transform: translate(-50%,30%);
        bottom: 15%;
        height: 69px;
        width: 69px;
        border-radius: 20%;
        color: whitesmoke;
        box-shadow: 13px 10px 15px -3px rgba(0, 0, 0, 0.4);
        background: rgb(54, 54, 54);
    }
    .main-grp-bg {
        padding: 0.5rem 1rem;
        border-radius: 10px;
        background: rgb(82, 82, 82);
        position: relative;
        transform: translateX(-60%);
    }
    .main-grp {
        color: whitesmoke;
        font-weight: 400;
    }
    .add-grp {
        transform: translate(60%, -130%) scale(1.5);

        color: grey;
    }
}
